:root {
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd;
    --width-2: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    transition: transform 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

body.show-nav {
    transform: translateX(200px);
}

/* .show-nav2{
    width: 100vh-200px;
} */
.container {
    width: 80%;
    margin: 0 auto;
}

/*? ===========================NAV============================================================================== */
nav {
    color: white;
    background-color: var(--primary-color);
    border-right: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    border-right: 0;
    z-index: 100;
    transform: translateX(-200px);
}

.logo {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 35px 0 48px 0;
}

ul {
    text-align: left;
    height: 300px;
}

li {
    border-top: 2px #56569596 solid;
    padding: 27px 0;
    font-size: 20px;
}

li:nth-last-of-type(1) {
    border-bottom: 2px #56569596 solid;
}

a {
    margin-left: 10px;
}

/*! ==============HEADER====================================================================================== */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    height: 350px;
}

.border-active {
    border-left: 2px #56569596 solid;

}

.width-second-position {
    width: 100%;
}

.toggle {
    align-self: flex-start;
    margin: 20px 0 0 20px;
    color: white;
    background-color: rgba(5, 5, 5, 0.424);
    padding: 10px 12px;
    border-radius: 7px;
    border: none;
    font-size: 21px;
}

h1 {
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 60px;
}

.quote {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 30px;
}

.cta-btn {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 7px;
    border: none;
    padding: 7px 25px;
    margin-bottom: 25px;
    font-size: 35px;
}

/*TODO =============================Main=================== */
.what-about {
    font-size: 30px;
}

.about-main-text {
    margin: 25px 0;
    font-size: 40px;
}

.about-text {
    margin-bottom: 15px;
}

.tell {
    font-size: 30px;
}

.tell-main-text {
    margin: 25px 0;
    font-size: 40px;
}

.more-text {
    margin-bottom: 15px;
}